.popoverMenu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 70px;
  align-items: center;
  justify-content: center;
}

.popoverItem {
  padding: 4px 4px;
  border-radius: 6px;
  color: var(--text);
  font-size: 14px;
  cursor: pointer;
}

.popoverItem:hover {
  background: var(--accent-bg);
}

.requestDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filterContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  background: var(--border);
}
